@charset "utf-8";
/* CSS Document */

body {
	background-color:#CFF;
}

#wrapper {
	width:1000px;
	margin-left:auto;
	margin-right:auto;
	margin-top:20px;
}

#contents {
	width:960px;
	margin-left:auto;
	margin-right:auto;
	height:320px;
	background-color:#FFF;
	padding:20px;
	background-image:url(../../images/login-title.png);
}