@charset "utf-8";
/* CSS Document */

body {
	background-color:#FFF;
}

#wrapper {
	width:1000px;
	margin-left:auto;
	margin-right:auto;
	margin-top:20px;
}

#contents {
	width:960px;
	margin-left:auto;
	margin-right:auto;
	min-height:320px;
	background-color:#FFF;
	padding:20px;
}

/* index */

#contents[name="index"] {
	background-image:url(../../images/login-title.png);
	background-repeat:repeat-y;
}

/* success */

#contents div[name="success"] {
	width:200px;
	margin-left:auto;
	margin-right:auto;
}

/* error */

#contents div[name="error"] {
	width:200px;
	margin-left:auto;
	margin-right:auto;
}
